.consorcio-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.consorcio-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px gainsboro;
    background-color: whitesmoke;
}

.parcela-radio{
    margin-right: 10px;
    accent-color: blue;
    height: 15px;
    width: 15px;
}

.consorcio-line > *{
    margin: 5px;
}

.price{
    color: #3b3b3b;
}