.modal-background{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}