:root {
	--btn-primary-color: #CC0000;
}

.hero {
	position: relative;
	display: flex;
	align-items: end;
	width: 100%;
	height: 200px;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: norepeat;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 0 10px rgba(20, 20, 20, 0.4);
}

.profile-info {
	padding: 20px;
}

.profile-head {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-top: 10px;
	padding-bottom: 10px;
}

.profile-name-box {
	display: flex;
	align-items: center;
}

.profile-name {
	color: rgb(80, 80, 80);
	margin-right: 5px;
}

.profile-img {
	position: absolute;
	bottom: -20px;
	background-color: white;
	border-radius: 50%;
	padding: 3px;
	height: 100px;
	width: 100px;
	margin-left: 20px;
	box-shadow: 0 0 10px gray;
}

.profile-txt {
	padding-top: 10px;
	padding-bottom: 10px;
	color: darkgray;
	font-weight: 500;
}

.profile-link {
	display: flex;
	align-items: center;
	background-color: var(--btn-primary-color);
	padding: 10px;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	border-radius: 25px;
	text-decoration: none;
	max-width: 180px;
	border: none;
	cursor: pointer;
	margin: 5px;
}

.profile-link>* {
	margin-right: 5px;
}

.motorcycles-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.motorcycle-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: whitesmoke;
	min-width: 300px;
	max-width: 400px;
	padding: 20px;
	margin: 10px;
	border-radius: 30px;
	border: solid 1px lightgray;
}

.motorcycle-img {
	max-width: 350px;
}

.motorcycle-title {
	margin: 10px;
}

.motorcycle-card-actions {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.motorcycle-card-link {
	display: inline-block;
	background-color: var(--btn-primary-color);
	padding: 15px;
	color: white;
	border-radius: 30px;
	text-decoration: none;
	min-width: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.motorcycle-card-link2 {
	display: inline-block;
	background-color: white;
	padding: 15px;
	color: var(--btn-primary-color);
	border-radius: 25px;
	text-decoration: none;
	min-width: 90%;
	text-align: center;
	border: solid 1px lightgray;
	font-weight: bold;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.motorcycle-card {
		width: 70vw;
	}
}