.form-container{
  width: 80vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  transition: border 0.2s ease;
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4a90e2;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.submit-button:hover {
  background-color: #357abd;
}
